.button {
  padding: 30px 50px;
  font-size: 20px;
  font-weight: bolder;
  background-color: darkslateblue;
  border-radius: 10px;
  color: whitesmoke;
}

.label-cell {
  width: 50%;
  text-align: right;
  padding: 10px 20px
}

.value-cell {
  width: 50%;
  text-align: left;
  padding: 10px 20px;
  font-weight: bolder;
}
