<div style="padding: 100px; text-align: center">
  <button class="button" (click)="getCarDetails()">Pobierz dane</button>

  <div *ngIf="car">
    <h1>Dane pojazdu</h1>
    <table style="width: 100%">
      <tr>
        <td class="label-cell">Marka</td>
        <td class="value-cell">{{car.brand}}</td>
      </tr>
      <tr>
        <td class="label-cell">Model</td>
        <td class="value-cell">{{car.model}}</td>
      </tr>
      <tr>
        <td class="label-cell">Rok produkcji</td>
        <td class="value-cell">{{car.productionYear}}</td>
      </tr>
      <tr>
        <td class="label-cell">Data rejestracji</td>
        <td class="value-cell">{{car.registrationDate | date}}</td>
      </tr>
      <tr>
        <td class="label-cell">Właściciel</td>
        <td class="value-cell">{{car.owner.firstName }} {{ car.owner.lastName }} (tel.: {{ car.owner.phone}})</td>
      </tr>
    </table>

    <h2>Wydarzenia: </h2>
    <table style="width: 100%">
      <tr *ngFor="let e of car.events">
        <td class="label-cell">{{e.date | date}}</td>
        <td class="value-cell">{{e.description}}</td>
      </tr>
    </table>
  </div>
</div>
